
{{#each recipes as |recipe|}}

<div class="card" data-=-id="{{recipe.id}}">
  <div class="card-block">
    <h4 class="card-title" id="{{recipe.id}}">{{recipe.name}}</h4>
    <h5 class="card-id">Recipe ID #{{recipe.id}}</h5>
    <!-- DELETE RECIPE BUTTON -->
    <button id="delete-recipe" class="btn btn-danger" data-id="{{recipe.id}}">Delete
      </button>
      <!-- UPDATE RECIPE BUTTON -->
      <button id="update-recipe-button" type="button" class="btn btn-primary" data-toggle="modal"
      data-recipe-id="{{recipe.id}}"
      data-recipe-name="{{recipe.name}}"
      data-recipe-ingredient1="{{recipe.ingredient1}}"
      data-recipe-ingredient2="{{recipe.ingredient2}}"
      data-recipe-ingredient3="{{recipe.ingredient3}}"
      data-recipe-ingredient4="{{recipe.ingredient4}}"
      data-recipe-ingredient5="{{recipe.ingredient5}}"
      data-recipe-ingredient6="{{recipe.ingredient6}}"
      data-recipe-ingredient7="{{recipe.ingredient7}}"
      data-recipe-ingredient8="{{recipe.ingredient8}}"
      data-recipe-ingredient9="{{recipe.ingredient9}}"
      data-recipe-ingredient10="{{recipe.ingredient10}}"
      >
          Update Recipe</button>

<!-- data-target="#update-recipe-modal" -->

  </div>
  <ul>
    <li id="{{recipe.ingredient1}}">{{recipe.ingredient1}}</li>
    <li id="{{recipe.ingredient2}}">{{recipe.ingredient2}}</li>
    <li id="{{recipe.ingredient3}}">{{recipe.ingredient3}}</li>
    <li id="{{recipe.ingredient4}}">{{recipe.ingredient4}}</li>
    <li id="{{recipe.ingredient5}}">{{recipe.ingredient5}}</li>
    <li id="{{recipe.ingredient6}}">{{recipe.ingredient6}}</li>
    <li id="{{recipe.ingredient7}}">{{recipe.ingredient7}}</li>
    <li id="{{recipe.ingredient8}}">{{recipe.ingredient8}}</li>
    <li id="{{recipe.ingredient9}}" >{{recipe.ingredient9}}</li>
    <li id="{{recipe.ingredient10}}">{{recipe.ingredient10}}</li>
  </ul>
</div>
{{/each}}
