
{{#each recipes as |recipe|}}

<div class="card">
  <div class="card-block">
    <h3 class="card-title" id="{{recipe.id}}">{{recipe.name}}</h3>
    <h4 class="card-id">Recipe ID #{{recipe.id}}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li id="{{recipe.ingredient1}}">{{recipe.ingredient1}}</li>
    <li id="{{recipe.ingredient2}}">{{recipe.ingredient2}}</li>
    <li id="{{recipe.ingredient3}}">{{recipe.ingredient3}}</li>
    <li id="{{recipe.ingredient4}}">{{recipe.ingredient4}}</li>
    <li id="{{recipe.ingredient5}}">{{recipe.ingredient5}}</li>
    <li id="{{recipe.ingredient6}}">{{recipe.ingredient6}}</li>
    <li id="{{recipe.ingredient7}}">{{recipe.ingredient7}}</li>
    <li id="{{recipe.ingredient8}}">{{recipe.ingredient8}}</li>
    <li id="{{recipe.ingredient9}}" >{{recipe.ingredient9}}</li>
    <li id="{{recipe.ingredient10}}">{{recipe.ingredient10}}</li>
  </ul>
</div>
{{/each}}
