
{{#each recipes as |recipe|}}

<div class="card">
  <div class="card-block">
    <h3 class="card-title" id="{{recipe.id}}">{{recipe.name}}</h3>
    <h4 class="card-id">Recipe ID #{{recipe.id}}</h4>
    <!-- <h5 class="card-on_menu">On Menu: #{{recipe.on_menu}}</h5> -->
  </div>
  <ul class="list-group list-group-flush">
    <li>{{recipe.ingredient1}}</li>
    <li>{{recipe.ingredient2}}</li>
    <li>{{recipe.ingredient3}}</li>
    <li>{{recipe.ingredient4}}</li>
    <li>{{recipe.ingredient5}}</li>
    <li>{{recipe.ingredient6}}</li>
    <li>{{recipe.ingredient7}}</li>
    <li>{{recipe.ingredient8}}</li>
    <li>{{recipe.ingredient9}}</li>
    <li>{{recipe.ingredient10}}</li>
  </ul>
</div>
{{/each}}
