
{{#each recipes as |recipe|}}

<div class="card">
  <div class="card-block">
    <h4 class="card-title" id="{{recipe.id}}">{{recipe.name}}</h4>
    <h5 class="card-id">Recipe ID #{{recipe.id}}</h5>
    <button id="delete-recipe" data-id="{{recipe.id}}">
      Delete Recipe
      </button>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-recipe-modal">
      Delete Recipe
      </button> -->
  </div>
  <ul>
    <li id="{{recipe.ingredient1}}">{{recipe.ingredient1}}</li>
    <li id="{{recipe.ingredient2}}">{{recipe.ingredient2}}</li>
    <li id="{{recipe.ingredient3}}">{{recipe.ingredient3}}</li>
    <li id="{{recipe.ingredient4}}">{{recipe.ingredient4}}</li>
    <li id="{{recipe.ingredient5}}">{{recipe.ingredient5}}</li>
    <li id="{{recipe.ingredient6}}">{{recipe.ingredient6}}</li>
    <li id="{{recipe.ingredient7}}">{{recipe.ingredient7}}</li>
    <li id="{{recipe.ingredient8}}">{{recipe.ingredient8}}</li>
    <li id="{{recipe.ingredient9}}" >{{recipe.ingredient9}}</li>
    <li id="{{recipe.ingredient10}}">{{recipe.ingredient10}}</li>
  </ul>

  <!-- <div class="modal fade" id="delete-recipe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
          <h3>Are you sure?</h3>

            <button id="delete-recipe" data-id="{{recipe.id}}" type="submit" name="submit" value="Delete Recipe!">Delete Recipe</button>

        </div>
      </div>
    </div>
  </div> -->
</div>
{{/each}}
